<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Login</title>
  </head>
  <body>
    <form id="registration-form">
      <input type="email" id="email-input" placeholder="Email" required />
      <input
        type="password"
        id="password-input"
        placeholder="Password"
        required
      />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
